<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<body>
<div layout:fragment="mainContentPage">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div th:if="${#request.getParameter('success') != null}">
                    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                        App Added Successfully!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="py-5 mt-2">

        <div class="text-center h2 mb-3">
            Добавление Приложения
        </div>
        <div class="container mt-4">
            <div class="col-6 mx-auto">
                <form th:action="@{'/addApp'}" method="post">
                    <div class="row">
                        <div class="col-3">
                            <label for="name">Название:</label>
                        </div>
                        <div class="col">
                            <input type="text" id="name" class="form-control" name="item_name"
                                   required placeholder="Введите название..">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label for="size">Размер:</label>
                        </div>
                        <div class="col">
                            <input type="number" step="0.1" id="size" class="form-control" name="memory_size" required
                                   placeholder=".. (MBytes)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="estimation">Оценка:</label>
                        </div>
                        <div class="col">
                            <input type="number" min="0" max="5" step="0.1" id="estimation" class="form-control"
                                   name="item_estimation" required placeholder="Рейтинг..">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label for="age">Возрастное ограничение:</label>
                        </div>
                        <div class="col">
                            <input type="number" min="0" id="age" class="form-control" name="item_age"
                                   required placeholder="...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="type">Тип:</label>
                        </div>
                        <div class="col">
                            <select name="item_types_id" id="type" class="form-control" >
                                <option th:each="type : ${appTypes}" th:value="${type.id}"><span th:text="${type.name}"></span></option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label for="desc">Описание:</label>
                        </div>
                        <div class="col">
                            <textarea id="desc" class="form-control" rows="5"
                                      name="item_description" required></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-5">
                        <button class="btn btn-outline-secondary" style="width: 300px; background: PaleGreen;">ADD NEW APP</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
</body>
</div>
</html>