<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html"
>

<div layout:fragment="mainContentPage">


    <!--    passwords-->
    <!--    gaziza   ->   gaziza-->
    <!--    diana  ->  diana-->


    <div class="container" th:if="${#request.getParameter('error') != null}">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    You entered an incorrect password or email.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-lg-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <form th:action="@{'/signIn'}" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email: </label>
                            <input type="email" id="email" class="form-control" name="user_email"
                                   placeholder="Insert email" required>
                        </div>
                        <div class="col-12">
                            <label for="full_name" class="form-label">Name: </label>
                            <input type="full_name" id="full_name" class="form-control" name="user_name"
                                   placeholder="Insert name" required>
                        </div>
                        <div class="col-12">
                            <label for="pass" class="form-label">Password: </label>
                            <input type="password" id="pass" class="form-control" name="user_password"
                                   placeholder="Insert password" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-outline-dark">SIGN IN</button>

                      </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</html>